<h1 class="text-2xl">This Project for practice with Components</h1>
<nav aria-label="Main Nav" class="flex flex-col space-y-1">
  <a
    href=""
    class="block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700"
  >
    01. Data Binding
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    02. Simple Component
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    04. Directives (*ngIf, *ngFor, *ngSwitch,..)
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    05. Services
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    06. Component Interaction
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    07. Typescript
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    08. Content Projection
  </a>
</nav>

<!-- Content shown here -->
<div class="pl-40 pr-40">
  <div class="text-center sm:text-left pt-20">
    <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl pb-10">
      <!-- 08. Content Projection -->
      <!-- 09 - Pipe & Custom Pipe -->
      <!-- 09 - Pipe - Default Pipe -->
    </h1>
    <!-- <app-user-list></app-user-list> -->
    <!-- <app-user-list></app-user-list> -->
    <app-angular-pipe></app-angular-pipe>
  </div>
</div>

<!-- <app-toggle-wrapper></app-toggle-wrapper> -->
