<h1 class="text-2xl">This Project for practice with Components</h1>
<nav aria-label="Main Nav" class="flex flex-col space-y-1">
  <a
    href=""
    class="block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700"
  >
    01. Data Binding
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    02. Simple Component
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    04. Directives (*ngIf, *ngFor, *ngSwitch,..)
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    05. Services
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    06. Component Interaction
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    07. Typescript
  </a>

  <a
    href=""
    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
  >
    08. Content Projection
  </a>
</nav>

<!-- Content shown here -->
<!--
  This component uses @tailwindcss/line-clamp

  yarn add @tailwindcss/line-clamp
  npm install @tailwindcss/line-clamp

  plugins: [require('@tailwindcss/line-clamp')]
-->
<div class="pl-40 pr-40">
  <div class="text-center sm:text-left pt-20">
    <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
      08. Content Projection
    </h1>
  </div>
  <article
    class="pl-20 pr-20 overflow-hidden rounded-lg shadow transition hover:shadow-lg"
  >
    <div class="bg-white p-4 sm:p-6">
      <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
        <app-toggle-wrapper></app-toggle-wrapper>
      </p>
    </div>
  </article>
</div>
