<h2>Log Service</h2>
<ul>
  <li>{{ infoMessage }}</li>
  <li>{{ warningMessage }}</li>
  <li>{{ errorMessage }}</li>
</ul>

<h2>Date Time Service:</h2>
<p>Hello Tu, this is your current Date & Time:</p>
<p>Date: {{ currentDate }}</p>
<p>Time: {{ currentTime }}</p>

<h2>Todo List Service:</h2>
<ul class="todo">
  <li *ngFor="let todo of todos">
    {{ todo.title }}
    {{ todo.description }}
  </li>
</ul>

<h3>Movie Service</h3>
<div class="grid grid-cols-5">
  <div
    class="max-w-sm rounded overflow-hidden shadow-lg"
    *ngFor="let movie of movies"
  >
    <img class="w-full" [src]="movie.Poster" [alt]="movie.Title" />
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ movie.Title }}</div>
    </div>
  </div>
</div>
